/* Add a black background color to the top navigation */
.topnav {
    background-color:#000080 ;
    box-shadow: 10px 10px 5px grey;
    border-radius: 3px;
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: lightgrey;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px 14px;
    background-color:#E6E6FA66;
    margin-right: 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
   
    color: black;
    transform: scale(1.5,1.5);
    transform: skewX(7deg);
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00CED1;
    color: wheat;
  }
  .topnav a.disabled {
    background-color: #eeffee;
    color: black;
  }
  @keyframes example {
   
  
    from { 
      background-color: #ddd;
    }
    to {
       background-color: #FF1493; 
       color: white;
      }
  }